* {
  box-sizing: border-box; }

body {
  padding: 20px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

input {
  padding: 10px;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #000000;
  margin-right: 20px; }

.card {
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer; }
  .card__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .card__city {
    text-transform: uppercase; }
  .card__temperature {
    font-size: 45px;
    margin-left: 20px; }
  .card__img {
    width: 50px;
    height: 50px;
    object-fit: contain; }

.App__row {
  display: flex;
  flex-wrap: wrap; }

.button {
  padding: 10px;
  background-color: #ffffff;
  font-size: 16px; }
